# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
wheels/
sdist/

# Virtual environment and environment variables
venv/
.venv/
env/
ENV/
.env/

# persistent storage
chroma_db/

# OS junk
.DS_Store
Thumbs.db

#logs
*.log
*.tmp
*.temp
*.bak

#ide
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
